<a href="https://colab.research.google.com/github/fredypauca/Python-Basico-Ejercicios/blob/main/Modulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>UNIDAD IV - ESTRUCTURAS DE DATOS
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Trabajando con Listas numéricas</a>
2. <a href="#item31">Trabajando con slices</a>  
3. <a href="#item31">Tuplas</a>  
4. <a href="#item31">Diccionarios</a>  

</font>
</div>

---

# 1. Trabajando con Listas numéricas

### List Comprehensions

---

<b> Ejercicio 1</b>

use un bucle **for** para imprimir los números del 1 al 20, inclusive.

In [80]:
for value in range(1, 21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

<b> Ejercicio 2</b>

Haga una lista de los números del uno al millón y luego use un ciclo for para imprimir los números. (Si la salida tarda demasiado, deténgala presionando CTRL-C o cerrando la ventana de salida).

In [81]:
for value in range(1, 100):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

---

<b> Ejercicio 3</b>

Haga una lista de los números del uno al millón y luego use min() y max() para asegurarse de que su lista realmente comience en uno y termine en un millón. Además, use la función sum() para ver qué tan rápido Python puede agregar un millón de números.

In [82]:
numbers = list(range(1, 1000001))

In [ ]:
min(numbers)

1

In [83]:
max(numbers)

1000000

In [84]:
sum(numbers)

500000500000

---

<b> Ejercicio 4</b>

Use el tercer argumento de la función range() para hacer una lista de los números impares del 1 al 20. Use un bucle for para imprimir cada número.

In [85]:
for value in range(1, 21,2):
    print(value)

1
3
5
7
9
11
13
15
17
19

In [86]:
numbers = list(range(1, 21,2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

---

<b> Ejercicio 5</b>

Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.

In [87]:
#de esta manera no cumple exactamente se debe utilizar %
numbers = list(range(3, 31,3))
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [88]:
#esta es la manera correcta
number = list(range(3, 31))
for impar in number:
  if impar%3==0:
    print(f"{impar}")

3
6
9
12
15
18
21
24
27
30

In [89]:
# otra manera de hacer
lista=[]
for i in range(3,31):
  if i%3==0:
    lista.append(i)
for a in lista:
  print(a)

3
6
9
12
15
18
21
24
27
30

---

<b> Ejercicio 6</b>

Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

In [90]:
cuboides = []

for value in range(1,11):
    cuboides.append(value**3)
    
print(cuboides)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

---

<b> Ejercicio 7</b>

Use una lista de comprensión para generar una lista de los primeros 10 cubos.

---

In [91]:
cubos = [value**3 for value in range(1, 11)]
print(cubos)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 2. Trabajando con slices

### Copiando una lista

---

<b> Ejercicio 1</b>

Utilizando alguna lista definida anteriormente:

*   Imprima el mensaje **Los tres primeros elementos de la lista son:**. Luego use un slice para imprimir los primeros tres elementos de la lista de ese programa.

*   Imprima el mensaje **Tres elementos de la mitad de la lista son:**. Use un slice para imprimir tres elementos del medio de la lista.

*   Imprima el mensaje **Los últimos tres elementos de la lista son:**. Utilice un slice para imprimir los últimos tres elementos de la lista.

In [92]:
print(f"Los tres primeros elemenos de la lista son :\n\t{my_foods[0:3]}")

Los tres primeros elemenos de la lista son :
	['pizza', 'falafel', 'carrot cake']

In [93]:
print(f"Los elemenos de la mitad de la lista son :\n\t{my_foods[1:3]}")

Los elemenos de la mitad de la lista son :
	['falafel', 'carrot cake']

In [94]:
print(f"Los tres primeros elemenos de la lista son :\n\t{my_foods[-3:]}")

Los tres primeros elemenos de la lista son :
	['falafel', 'carrot cake', 'cannoli']

---

<b> Ejercicio 2</b>

Haga una copia de la lista de pizzas y llámela friend_pizzas. Luego, haz lo siguiente:

* Agregue una nueva pizza a la lista original.
* Agrega una pizza diferente a la lista friend_pizzas.
* Demuestra que tienes dos listas separadas. Imprima el mensaje Mis pizzas favoritas son: y luego use un bucle for para imprimir la primera lista. Imprima el mensaje Las pizzas favoritas de mi amigo son: y luego use un bucle for para imprimir la segunda lista. Asegúrese de que cada pizza nueva se almacene en la lista adecuada.

In [95]:
pizzas = ['americana', 'hawaiana', 'pepperoni', 'romana', 'napolitana']
friend_pizzas = pizzas[:]

pizzas.append('siciliana')
friend_pizzas.append('vegetariana')
print(pizzas)
print(friend_pizzas)

print("\nMis pizzas favoritas son:")
for comida in pizzas:
    print(comida.title())

print("\nLas pizzas favoritas de mi amigo son:")
for comida in friend_pizzas:
    print(comida.title())

['americana', 'hawaiana', 'pepperoni', 'romana', 'napolitana', 'siciliana']
['americana', 'hawaiana', 'pepperoni', 'romana', 'napolitana', 'vegetariana']

Mis pizzas favoritas son:
Americana
Hawaiana
Pepperoni
Romana
Napolitana
Siciliana

Las pizzas favoritas de mi amigo son:
Americana
Hawaiana
Pepperoni
Romana
Napolitana
Vegetariana

# 3. Tuplas

### Modificando una tupla

---

<b> Ejercicio 1</b>

Un restaurante estilo buffet ofrece solo cinco alimentos básicos. Piense en cinco alimentos simples y guárdelos en una tupla.

* Use un bucle for para imprimir cada comida que ofrece el restaurante.
Intente modificar uno de los elementos y asegúrese de que Python rechace el cambio.
* El restaurante cambia su menú, reemplazando dos de los artículos con comidas diferentes. Agregue una línea que reescriba la tupla y luego use un ciclo for para imprimir cada uno de los elementos en el menú revisado.

---

In [96]:
buffet = ('Ceviche','Chicharrón de chancho.','Rocoto Relleno.','Lomo Saltado','Pollo al horno')
print("\n los platos originales son:")
for b in buffet:
  print(f'-{b}')

 los platos originales son:
-Ceviche
-Chicharrón de chancho.
-Rocoto Relleno.
-Lomo Saltado
-Pollo al horno

In [97]:
buffet[0] = 'Causa rellena'

TypeError: ignored

In [98]:
buffet = ('Causa rellena','Chicharrón de chancho.','Rocoto Relleno.','Lomo Saltado','Pollo al horno')
print("\n los platos modificados son:")
for b in buffet:
  print(f'-{b}')

 los platos modificados son:
-Causa rellena
-Chicharrón de chancho.
-Rocoto Relleno.
-Lomo Saltado
-Pollo al horno

# 4. Diccionarios

### Usando get() para acceder a los valores

---

<b> Ejercicio 1</b>

Usa un diccionario para almacenar información sobre una persona que conoces. Almacene su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como nombre, apellido, edad y ciudad. Imprima cada parte de información almacenada en su diccionario.

In [99]:
persona = {'nombre': 'Fredy', 'apellido': 'Pauca', 'edad': 33, 'ciudad': 'Arequipa'}

print(f"El nombre es: {persona.get('nombre')}")
print(f"El apellido es: {persona.get('apellido')}")
print(f"La edad es: {persona.get('edad')}")
print(f"La ciudad es: {persona.get('ciudad')}")

El nombre es: Fredy
El apellido es: Pauca
La edad es: 33
La ciudad es: Arequipa

---

<b> Ejercicio 2</b>

Use un diccionario para almacenar los números favoritos de las personas. Piensa en cinco nombres y utilízalos como llaves en tu diccionario. Piense en un número favorito para cada persona y guárdelo como un valor en su diccionario. Escriba el nombre de cada persona y su número favorito.

In [100]:
favorito_num = {
    'fredy' : 13,
    'franchesca' : 3,
    'ana' : 1,
    'carlos' : 9,
    'tefy' : 11,}

print(f"El número favorito de Fredy es {favorito_num['fredy']}.")
print(f"El número favorito de Franchesca es {favorito_num['franchesca']}.")
print(f"El número favorito de Ana es {favorito_num['ana']}.")
print(f"El número favorito de Carlos es {favorito_num['carlos']}.")
print(f"El número favorito de Tefy es {favorito_num['tefy']}.")

El número favorito de Fredy es 13.
El número favorito de Franchesca es 3.
El número favorito de Ana es 1.
El número favorito de Carlos es 9.
El número favorito de Tefy es 11.

---

<b> Ejercicio 3</b>

Piense en cinco palabras de programación que haya aprendido. Utilice estas palabras como llaves en su glosario y almacene sus significados como valores.

Imprima cada palabra y su significado como una salida con un formato ordenado. Puede imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilice el carácter de nueva línea (\n) para insertar una línea en blanco entre cada par de palabra y significado en su salida.

---

In [101]:
lenguaje_phyton = {
    'if' :'Condicional que ejecuta una sentencia si la condición dada es verdadera' ,
    'else' : 'Condicional que se ejecuta si la condicon if es falsa',
    'for' : 'Estructura iterativa',
    'while' : 'Condicion que se ejecuta indeterminadamente, mientras la condicion sea verdadera',
    'append' : 'Expresión para agregar determinado elemento a una lista',}

print(f"\n1.El comando if sirve para:\n{lenguaje_phyton['if']}.")
print(f"\n2.El comando else es una:\n{lenguaje_phyton['else']}.")
print(f"\n3.El comando for es una:\n{lenguaje_phyton['for']}.")
print(f"\n4.El comando While es una:\n{lenguaje_phyton['while']}.")
print(f"\n5.El comando append es una:\n{lenguaje_phyton['append']}.")

1.El comando if sirve para:
Condicional que ejecuta una sentencia si la condición dada es verdadera.

2.El comando else es una:
Condicional que se ejecuta si la condicon if es falsa.

3.El comando for es una:
Estructura iterativa.

4.El comando While es una:
Condicion que se ejecuta indeterminadamente, mientras la condicion sea verdadera.

5.El comando append es una:
Expresión para agregar determinado elemento a una lista.

### Loops con diccionarios

---

<b> Ejercicio 1</b>

Haga un diccionario que contenga tres ríos principales y el país por el que pasa cada río. Un par clave-valor podría ser 'nilo': 'egipto'.

* Use un bucle para imprimir una oración sobre cada río, como El Nilo atraviesa Egipto.
* Utilice un bucle para imprimir el nombre de cada río incluido en el diccionario.
* Use un bucle para imprimir el nombre de cada país incluido en el diccionario.

In [102]:
acuatico = {
    'amazonas' :'perú' ,
    'nilo' : 'egipto',
    'iguazu' : 'argentina',}

for rio, country in acuatico.items():
  print(f"El río {rio.title()} atraviesa el país de {country.title()}.")

print("\nSe han utilizado los ríos:")
for rio in acuatico.values():
  print(f"{rio.title()}")
  
print("\nSe han utilizado los países:")
for country in acuatico.values():
  print(f"{country.title()}")

El río Amazonas atraviesa el país de Perú.
El río Nilo atraviesa el país de Egipto.
El río Iguazu atraviesa el país de Argentina.

Se han utilizado los ríos:
Perú
Egipto
Argentina

Se han utilizado los países:
Perú
Egipto
Argentina

---

<b> Ejercicio 2</b>

Haz una lista de las personas que deberían participar en la encuesta de idiomas favoritos. Incluye algunos nombres que ya estén en el diccionario y otros que no.
Recorra la lista de personas que deberían realizar la encuesta. Si ya han realizado la encuesta, imprima un mensaje agradeciéndoles por responder. Si aún no han realizado la encuesta, imprima un mensaje invitándoles a realizar la encuesta.

---

In [103]:
encuestados = {
    'fredy' :'inglés' ,
    'franchesca' : 'francés',
    'juan' : 'ruso',
    'pedro' : 'portugués',  
}
encuesta = ['fredy', 'franchesca', 'juan', 'javier', 'pedro', 'luis']
for name in encuesta[:]:
  if(name in encuestados):
    print(f"{name.title()}, gracias por responder la encuesta.")
  else:
    print(f"{name.title()}, por favor responde la encuesta.")

Fredy, gracias por responder la encuesta.
Franchesca, gracias por responder la encuesta.
Juan, gracias por responder la encuesta.
Javier, por favor responde la encuesta.
Pedro, gracias por responder la encuesta.
Luis, por favor responde la encuesta.

### Una lista en un diccionario

---

<b> Ejercicio 1</b>

Cree tres nuevos diccionarios que representen a diferentes personas y almacene los tres diccionarios en una lista llamada personas. Recorra su lista de personas. Mientras recorre la lista, imprima todo lo que sabe sobre cada persona.

In [104]:
persona_1 = {'nombre': 'fredy', 'apellido': 'pauca', 'edad': 33,'ciudad': 'arequipa'}
persona_2 = {'nombre': 'franchesca', 'apellido': 'molina', 'edad': 20, 'ciudad': 'areqiupa'}
persona_3 = {'nombre': 'luis', 'apellido': 'paredes', 'edad': 17, 'ciudad': 'tacna'}

personas = [persona_1, persona_2, persona_3]

for persona in personas:
  print("-----------------------------------")
  print(f"El nombre es: {persona.get('nombre')}")
  print(f"El apellido es: {persona.get('apellido')}")
  print(f"La edad es: {persona.get('edad')}")
  print(f"La ciudad es: {persona.get('ciudad')}")

-----------------------------------
El nombre es: fredy
El apellido es: pauca
La edad es: 33
La ciudad es: arequipa
-----------------------------------
El nombre es: franchesca
El apellido es: molina
La edad es: 20
La ciudad es: areqiupa
-----------------------------------
El nombre es: luis
El apellido es: paredes
La edad es: 17
La ciudad es: tacna

---

<b> Ejercicio 2</b>

Haga varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluya el tipo de animal y el nombre del dueño. Guarde estos diccionarios en una lista llamada mascotas. A continuación, recorra su lista y, mientras lo hace, imprima todo lo que sepa sobre cada mascota.

In [105]:
mascota_1 = {'nombre': 'kiara', 'raza': 'pastor aleman', 'dueño': 'fredy'}
mascota_2 = {'nombre': 'ringo', 'raza': 'felino', 'dueño': 'maria'}
mascota_3 = {'nombre': 'lucas', 'raza': 'salchicha', 'dueño': 'luis'}


mascotas = [mascota_1, mascota_2, mascota_3]

for mascota in mascotas:
  print("-----------------------------------")
  print(f"El nombre es: {mascota.get('nombre')}")
  print(f"La raza es: {mascota.get('raza')}")
  print(f"El dueño es: {mascota.get('dueño')}")

-----------------------------------
El nombre es: kiara
La raza es: pastor aleman
El dueño es: fredy
-----------------------------------
El nombre es: ringo
La raza es: felino
El dueño es: maria
-----------------------------------
El nombre es: lucas
La raza es: salchicha
El dueño es: luis

---

<b> Ejercicio 3</b>

Haga un diccionario llamado lugares_favoritos. Piense en tres nombres para usar como llaves en el diccionario y almacene de uno a tres lugares favoritos para cada persona. Recorre el diccionario e imprime el nombre de cada persona y sus lugares favoritos.

In [106]:
lugar1 = str(input("Ingrese el lugar favorito de fredy:\t"))
lugar2 = str(input("Ingrese el lugar favorito de franchesca:\t"))
lugar3 = str(input("Ingrese el lugar favorito de mary:\t"))

lugares_favoritos = {
    'fredy' : lugar1,
    'franchesca' : lugar2,
    'mary' : lugar3,
}

print("\n\t\tLUGARES FAVORITOS")
for nombre, lugar in lugares_favoritos.items():
  print(f"Para {nombre.title()} su lugar favorito es {lugar.title()}.")

Ingrese el lugar favorito de fredy:	arequipa
Ingrese el lugar favorito de franchesca:	cusco
Ingrese el lugar favorito de mary:	tacna

		LUGARES FAVORITOS
Para Fredy su lugar favorito es Arequipa.
Para Franchesca su lugar favorito es Cusco.
Para Mary su lugar favorito es Tacna.

---

<b> Ejercicio 4</b>

Haz un diccionario llamado ciudades. Usa los nombres de tres ciudades como llaves en tu diccionario. Cree un diccionario de información sobre cada ciudad e incluya el país en el que se encuentra la ciudad, su población aproximada y un dato sobre esa ciudad. Las claves para el diccionario de cada ciudad deben ser algo como país, población y hecho. Imprime el nombre de cada ciudad y toda la información que tengas almacenada sobre ella.

In [107]:
ciudad_1 = {'ciudad': 'arequipa', 'pais': 'peru', 'poblacion': 1.0 ,'hecho': 'ciudad blanca'}
ciudad_2 = {'ciudad': 'cusco', 'pais': 'peru', 'poblacion': 0.42 , 'hecho': 'ciudad historica'}
ciudad_3 = {'ciudad': 'tacna', 'pais': 'peru', 'poblacion': 0.28 , 'hecho': 'ciudad heroica'}

ciudades = [ciudad_1, ciudad_2, ciudad_3]

for ciudad in ciudades:
  print("-----------------------------------")
  print(f"La ciudad es: {ciudad.get('ciudad')}")
  print(f"El pais es: {ciudad.get('pais')}")
  print(f"Tiene una poblacion de: {ciudad.get('poblacion')} Millones")
  print(f"Reconocida como: {ciudad.get('hecho')}")

-----------------------------------
La ciudad es: arequipa
El pais es: peru
Tiene una poblacion de: 1.0 Millones
Reconocida como: ciudad blanca
-----------------------------------
La ciudad es: cusco
El pais es: peru
Tiene una poblacion de: 0.42 Millones
Reconocida como: ciudad historica
-----------------------------------
La ciudad es: tacna
El pais es: peru
Tiene una poblacion de: 0.28 Millones
Reconocida como: ciudad heroica

---

<b> Ejercicio 5</b>

Ahora estamos trabajando con ejemplos que son lo suficientemente complejos como para que puedan extenderse de varias maneras. Utilice uno de los programas de este laboratorio y amplíelo agregando nuevas claves y valores, cambiando el contexto del programa o mejorando el formato de la salida.

---

In [108]:
name1 = str(input("Ingrese su nombre:\t"))
name2 = str(input("Ingrese el nombre de su novia:\t"))
name3 = str(input("Ingrese el nombre de su mascota:\t"))

print(f"\n\t-------- TURNO DE {name1.title()} --------")
lugar1 = str(input("Ingrese su lugar favorito:\t"))
plato1 = str(input("Ingrese su plato favorito:\t"))

print(f"\n\t-------- TURNO DE SU NOVIA {name2.title()} --------")
lugar2 = str(input("Ingrese su lugar favorito:\t"))
plato2 = str(input("Ingrese su plato favorito:\t"))

print(f"\n\t-------- TURNO DE SU MASCOTA {name3.title()} --------")
lugar3 = str(input("Ingrese su lugar favorito:\t"))
plato3 = str(input("Ingrese su plato favorito:\t"))

lugares_favoritos = {
    name1 : lugar1,
    name2 : lugar2,
    name3 : lugar3,
}
platos_favoritos = {
    name1 : plato1,
    name2 : plato2,
    name3 : plato3,
}

print("\n\t\t----------- GUSTOS  ----------")
print("\n")
for nombre, lugar in lugares_favoritos.items():
    print(f"{nombre.title()} tiene como destino favorito {lugar.title()}.")
print("\n")
for nombre, plato in platos_favoritos.items():
  print(f"{nombre.title()} tiene como comida favorita el {plato.title()}.")

Ingrese su nombre:	fredy
Ingrese el nombre de su novia:	franchesca
Ingrese el nombre de su mascota:	kiara

	-------- TURNO DE Fredy --------
Ingrese su lugar favorito:	arequipa
Ingrese su plato favorito:	adobo

	-------- TURNO DE SU NOVIA Franchesca --------
Ingrese su lugar favorito:	cusco
Ingrese su plato favorito:	tequeños

	-------- TURNO DE SU MASCOTA Kiara --------
Ingrese su lugar favorito:	la cama
Ingrese su plato favorito:	croquetas

		----------- GUSTOS  ----------


Fredy tiene como destino favorito Arequipa.
Franchesca tiene como destino favorito Cusco.
Kiara tiene como destino favorito La Cama.


Fredy tiene como comida favorita el Adobo.
Franchesca tiene como comida favorita el Tequeños.
Kiara tiene como comida favorita el Croquetas.

---

# Gracias por completar este laboratorio!

---